html, html * {
    font-family: monospace;
    font-size:17px;
}

.grid {
    display: grid;
    height:100%;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40px auto auto 40px;
   
    grid-template-areas:
     "h h h h h b"
     "m s s s s s"
     "m d d d d d"
     "f f f f f f";
}
.grid > * {
    
}
.grid .header {
    grid-area: h;
}
.grid .main {
    grid-area: m;
}
.grid .description {
    grid-area: d;
}
.grid .footer{
    grid-area: f;
}
.grid .buttons{
    grid-area: b;
}
.grid .status{
    grid-area: s;
}



.character {
    display:inline-flex;
    border:1px solid #DDD;
    padding:10px;
    margin-bottom:5px;
    margin-right:5px;
    font-size:25px;
    cursor:pointer;
}
.character:hover {
    background:#b4e0a9;
}
.character.clicked {
    background:red;
}
.character.clicked.correct {
    background:green;
}



#zoom {
    width:100%;
    font-size:20px;
    border:1px solid #DDD;
    padding:5px;
    min-height:20px;
}
#this-game-attempts,
#this-game-hangman,
#this-game-status {
    width:100%;
    font-size:20px;
    border:1px solid #DDD;
    padding:5px;
    min-height:20px;
}